@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}



* {
  margin: -0px;
}
.boasvindas{
  margin-top: -340px;
  margin-left: 50px;
  font-size:100%;
}
.sobre {
  position: relative;
  bottom: 750px;
}
.BEMVINDO{
  text-indent: 50px;
  margin-left: -50px;
}
.AO{
  text-indent: 170px;
  margin-top: 15px;
  margin-left: 80px;
  font-size: xx-large;
  
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.descrição > h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: xx-large;
  display: flex;
  margin-left: 1000px;
  margin-inline-end: 20px;
  position: relative;
  font-weight: 10px

}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.texto{
  font-family: 'Noto Sans', sans-serif;
  margin-left: -80px;
  margin-inline-end: 20px;
  position: relative;
  font-weight: 10px
  ;
}

h3 {
  position: relative;
  margin-top: 60px;
  margin-left: 910px;
  font-size:large;
  text-align: end;
}

html,
body {
  overflow: hidden;
  height: 100%;
}



.PE {

  float: left;
  margin-top: -130px;

}

.titulo {
  margin-right: 370px;
  margin-left: 150px;
  margin-top: -90px;
  text-align: center;

}

.triangulo-background {
  margin-top: -115px;
  width: 100%;
  height: 250%;
  background: linear-gradient(to top right, transparent 50%, rgb(29, 65, 224) 100%, rgb(32, 62, 230) 30%, transparent 20%);
}
.inicio{
  position: absolute;
  top: 50px; 
  left: 830px; 
  height: 30px; 
  width: 30px;
  cursor: pointer;
}
.noticia{
  position: absolute;
  top: 50px; 
  left: 950px; 
  height: 30px; 
  width: 30px;
}

.report{
  position: absolute;
  top: 45px; 
  left: 1080px; 
  height: 40px; 
  width: 40px;
  cursor: pointer;
}

.formulario{
  position: absolute;
  top: 45px; 
  left: 1217px; 
  height: 40px; 
  width: 40px;
  cursor: pointer;
}
 
p{
  word-spacing: 70px;
  font-size: 20px;
  margin-left: 865px;
  margin-top: 55px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


